.nft {
    border-radius: 8px;
    box-shadow: 0 0 8px -1px rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    max-width: 300px;
}

.nft p {
    text-align: left;
    color: rgb(251, 237, 237);
    background-color: transparent;
    text-align: center;
}

.nft::after {
    content: '>';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8rem;
    color: rgba(0, 0, 0, 0.897);
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(140, 243, 142, 0.781);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: transform 0.3s;
}

.nft:hover::after {
    transform: scale(1);
}

.nfts {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
}

.nfts-wrapper {
    margin-top: 5rem;
}

/* laoding */
.load-more {
    padding: 1rem 3rem;
    text-align: center;
    margin: 2rem auto;
    font-size: 16px;
    cursor: pointer;
    color: #63d266;
    border: 2px solid #63d266;
    background-color: transparent;
    border-radius: 5px;
    display: block;
    transition: 0.3s;
    box-shadow: 0 0 8px -2px black;
}

.load-more:hover {
    background-color: #63d266;
    color: black;
}

/* Search Bar */
.search-bar {
    margin: auto;
    background: url('../../assets/sky.png') no-repeat center;
    padding: 1.5rem 0;
    display: flex;
    align-items: end;
    justify-content: space-around;
    gap: 2rem;
}

.search-bar input {
    padding: 5px 3rem;
    font-size: 1.5rem;
    background-color: rgba(179, 180, 193, 0.847);
    color: black;
    border: none;
    border-radius: 1rem;
}

.search-bar input:focus {
    outline: none;
}

.search-bar .wrapper {
    position: relative;
    width: fit-content;
}

.search-bar .search-img {
    width: 1.2rem;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-100%, 50%);
    z-index: 10;
}

.cat-img {
    max-width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 8px -3px black;
    transition: 0.5s;
}

.cat-img:hover {
    transform: rotate(360deg) scale(1.2);
}


@media (max-width: 500px) {
    .search-bar {
        padding: 0.8rem 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .search-bar input {
        padding: 5px 1rem;
        font-size: 1.1rem;
    }

    .cat-img {
        width: 50px;
    }
    .nft {
        max-width: 200px;
    }
}